*,
*:before,
*:after {
  box-sizing: border-box;
}


.App {
  text-align: center;
  padding-top: 30px;

}

@media(min-width: 48em){  
  .App {
    max-width: 1350px;
    margin: 0 auto;
  }
}

button {
  background-color: #862e9c;
  color: #fff;
  border: none;
  font-size: 1em;
  padding: 12px 30px;
  margin: 10px;
}

input {
  font-size: 1em;
  padding: 10px;
  border: 3px solid blue;
}

.container div {
  margin-left: 20px;
  position: relative;
  /*border: 3px solid green;*/
  /*padding: 20px;*/
}

.container div img {
  border-radius: 5px;
}
.container div div {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  background: #f8f0fc;
  border: 2px solid #862e9c;
  border-radius: 50%;
}

@media(min-width: 48em){  
  .container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }
}

input[type="radio"] {
  width: 1.4em;
  height: 1.4em;
  margin: 12px;
}

/*input[type="radio"]:before {
  background: #f4f4f4;
}*/

input[type="radio"]:checked {
  background: red;
}

.checked {
  border: 3px solid green;
}
.container > div {
  /*background: green;*/
}